<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feed</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css%22%3E">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js%3E">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js%22%3E">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css%22%3E">
    <link rel="stylesheet" type="text/css" href="/css/style2.css" th:href="@{/css/style2.css}" />
</head>
<body>
<div class="wrapper d-flex">
    <div class="sidebar">
        <ul>
            <li><a href="/recipelist"><i class="fas fa-home"></i>All recipes</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Main dishes</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Soups and stews</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Salads</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Desserts</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Snacks</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Vegetarian</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Vegan</a></li>
        </ul>
        <p class="myrecipes px-3"> My recipes</p>
        <ul>
            <li><a href="#">View all</a></li>
            <li><a href="#">Favorites</a></li>
        </ul>
        <div class="userProfile">
            <a href="#"><i class="far fa-user-circle  xyz"></i></a>
            <p class="username">New User<br><a href="#">View Profile</a></p>
            <a href="#"><i class="fas fa-cog mnp"></i></a>
        </div>
    </div>
</div>
<div class="main">
    <div class="wrapper" id="wrapper">
        <div class="container">
            <div class="form-wrap">
                <div class="col-md-12">


                    <section class="bg-light" >
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 order-2 order-lg-1">


                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="submit-recipe-page-wrap padding-top-74 padding-bottom-50">
                        <h1>All your favorite recipes in one place</h1>
                    </section>
                    <div class="container">
                        <div class="row">
                            <h2>Create your own recipe</h2>
                            <div class="col-lg-8">
                                <div>
                                    <form method = "post" enctype="multipart/form-data" action="/recipe">
                                        <label for="title">Title:</label>
                                        <input type="text" id="title" name="title" placeholder="Recipe name">

                                        <label for="ingredients">Ingredients:</label>
                                        <input type="text" id="ingredients" name="ingredients" placeholder="Type your text">

                                        <label for="instructions">Instructions:</label>
                                        <input type="text" id="instructions" name="instructions" placeholder="Type your text">

                                        <label for="tags">Tags:</label>
                                        <input type="text" id="tags" name="tags" placeholder="Type tags">


                                        <label for="img">Select image:</label>
                                        <input type="file" id="img" name="imageFile" accept="image/*">

                                        <input type="submit" value="Submit">
                                    </form>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>