<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feed</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css%22%3E">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js%3E">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js%22%3E">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css%22%3E">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style2.css" th:href="@{/css/style2.css}" />
</head>
<body>
<div class="wrapper d-flex">
    <div class="sidebar">

        <ul>
            <li><a href="/home"><i class="fas fa-home"></i>All recipes</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Main dishes</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Soups and stews</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Salads</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Desserts</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Snacks</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Vegetarian</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Vegan</a></li>
        </ul>
        <p class="myrecipes px-3"> My recipes</p>
        <ul>
            <li><a href="#">View all</a></li>
            <li><a href="#">Favorites</a></li>
        </ul>
        <div class="userProfile">
            <ul>
                <p class="username" sec:authentication="name" > </p>
                <li><a href="/profile" >View Profile</a></li>
            </ul>

        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="form-wrap">
            <div class="col">
                <section class="bg-light" >
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="submit-recipe-page-wrap padding-top-74 padding-bottom-50">
                    <h1>All your favorite recipes in one place</h1>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4" th:each="recipe : ${recipes}">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" th:src="@{/photos/{id}(id=${recipe.id})}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${recipe.title}">Recipe title</h5>
                        <p class="card-text" th:text="${recipe.description}">Recipe description</p>
                        <a th:href="@{/recipes/{id}(id=${recipe.id})}" class="btn btn-primary" >View Recipe</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
