<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heres a cool recipe:</title>
</head>
<body>
<form method = "post" enctype="multipart/form-data" action="/recipe">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">

    <label for="ingredients">Ingredients:</label>
    <input type="text" id="ingredients" name="ingredients">

    <label for="instructions">Instructions:</label>
    <input type="text" id="instructions" name="instructions">

    <label for="tags">Tags:</label>
    <input type="text" id="tags" name="tags">


    <label for="img">Select image:</label>
    <input type="file" id="img" name="imageFile" accept="image/*">
    <input type="submit" value="Submit">
</form>
</body>
</html>