<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{recipe.name}} recipe</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css%22%3E">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js%3E">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js%22%3E">
  <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css%22%3E">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style2.css" th:href="@{/css/style2.css}" />
</head>
<body>
<div class="wrapper d-flex">
  <div class="sidebar">

    <ul>
      <li><a href="/recipelist"><i class="fas fa-home"></i>All recipes</a></li>
      <li><a href="#"><i class="fas fa-users"></i>Main dishes</a></li>
      <li><a href="#"><i class="fas fa-users"></i>Soups and stews</a></li>
      <li><a href="#"><i class="fas fa-users"></i>Salads</a></li>
      <li><a href="#"><i class="fas fa-users"></i>Desserts</a></li>
      <li><a href="#"><i class="fas fa-users"></i>Snacks</a></li>
      <li><a href="#"><i class="fas fa-users"></i>Vegetarian</a></li>
      <li><a href="#"><i class="fas fa-users"></i>Vegan</a></li>
      <!--      <li class="notification1"><a href="#"><i class="far fa-envelope"></i>My recipes</a></li>-->
      <!--      <li class="notification2"><a href="#"><i class="far fa-envelope"></i>Favorites</a></li></li>-->
    </ul>
    <p class="myrecipes px-3"> My recipes</p>
    <ul>
      <li><a href="#">View all</a></li>
      <li><a href="#">Favorites</a></li>
    </ul>
    <div class="userProfile">
      <ul>
        <p class="username" sec:authentication="name" > </p>
        <li><a href="/profile" >View Profile</a></li>
      </ul>

    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="form-wrap">
      <div class="col">
        <section class="bg-light" >
          <div class="container">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1">
              </div>
            </div>
          </div>
        </section>
        <section class="submit-recipe-page-wrap padding-top-74 padding-bottom-50">
          <h1>{{recipe.name}}</h1>
        </section>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="pizza.jpg" alt="Pizza" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h1 class="mb-3">Pizza Recipe</h1>
        <p>This is a delicious recipe for homemade pizza. It's easy to make and tastes great!</p>
        <h2>Ingredients</h2>
        <ul>
          <li>1 cup all-purpose flour</li>
          <li>1/2 cup warm water</li>
          <li>1/2 teaspoon active dry yeast</li>
          <li>1 tablespoon olive oil</li>
          <li>1/2 teaspoon salt</li>
          <li>1 cup tomato sauce</li>
          <li>1 cup shredded mozzarella cheese</li>
          <li>1 cup sliced mushrooms</li>
          <li>1 cup sliced bell peppers</li>
          <li>1/2 cup sliced black olives</li>
        </ul>
        <h2>Instructions</h2>
        <ol>
          <li>In a small bowl, combine the warm water, yeast, and a pinch of sugar. Stir to dissolve and let sit for 5 minutes.</li>
          <li>In a large mixing bowl, combine the flour and salt. Add the yeast mixture and olive oil, and stir to combine.</li>
          <li>Turn the dough out onto a floured surface and knead for 5-10 minutes, until smooth and elastic.</li>
          <li>Place the dough in a greased bowl and cover with a damp cloth. Let rise in a warm place for 1 hour, or until doubled in size.</li>
          <li>Preheat the oven to 400 degrees F (200 degrees C).</li>
          <li>Roll the dough out into a circle and place on a greased pizza pan. Spread the tomato sauce over the dough, leaving a 1-inch border around the edge.</li>
          <li>Sprinkle the mozzarella cheese over the sauce, followed by the mushrooms, bell peppers, and black olives.</li>
          <li>Bake the pizza for 20-25 minutes, or until the crust is golden brown and the cheese is melted and bubbly.</li>
          <li>Let the pizza cool for a few minutes before slicing and serving.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
